*{
    margin: 0;
    box-sizing: border-box;
}
marquee{
    font-weight: 500;
    padding: 5px;
    color: orangered;
    background-color: rgb(218, 218, 218);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
.tser{
    font-size: 20px;
}
.tbox{
    color: rgb(255, 94, 0);
    padding: 10px;
    text-align: center;
}

.tbrand{
    font-size: 80px;
    margin: 0px 0px 15px 0px;
}
.orange{
    color: orangered;
    font-size: 20px;
}
.tbod{
    margin-left: 10px;
}
.tline{
    font-size: 40px; 
    margin: 0px 0px 15px 0px;
}

.F1{
    margin-left: 20px;
    border: 1px solid rgb(247, 247, 247);
    padding-left: 10px;
    background-color: rgb(247, 247, 247);
    height: 60%;
    width: 60%;
}
p{
    word-spacing: 1px;

}
nav{
    background-color: rgb(255, 94, 0);
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
}
details{
    border: 1px solid  rgb(255, 94, 0);
    background-color:  rgb(255, 94, 0);
    padding: 10px;
    color: whitesmoke;
}
footer{
    background-color: rgb(224, 224, 224);
    padding: 20px;
    padding-bottom: 60px;
}
